# IDE left over
.DS_Store
.vscode
.idea
*.pyc
*.cache
.*.swp

# cache and misc
qiling.egg-info/
__pycache__/
*.py[cod]
build
dist

# examples 
examples/**/registry/
examples/**/dlls/
examples/**/Windows/

# test and logs
jexamples/
logs/
test_qlog/
qlog/
test_syscall_*.txt
*.no.py
.gitkeep
test.file
*.file
*.qlog
*.d
*.o
core
*.perf

# dont keep raw malware
wannacry.bin
UselessDisk.bin
GandCrab.bin
GandCrab502.bin



