[submodule "examples/rootfs"]
	path = examples/rootfs
	url = https://github.com/qilingframework/rootfs.git
[submodule "qiling/engine"]
	path = qiling/engine
	url = https://github.com/qilingframework/engine.git
